{%- macro render_menuitem(url, label, login_required=False) -%}

{% if current_user == None or (current_user.is_anonymous() == True and login_required == False) %}
<li {% if request.path == url_for(url) %}class="active"{% endif %}>
  <a href="{{ url_for(url) }}">
    {{ _(label) }}
  </a>
</li>
{% elif current_user and current_user.is_anonymous() == False and login_required == True %}
<li {% if request.path == url_for(url) %}class="active"{% endif %}>
  <a href="{{ url_for(url) }}">
    {{ _(label) }}
  </a>
</li>
{% endif %}

{%- endmacro -%}