{% from "_menuhelpers.html" import render_menuitem with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Around&nbsp;{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <!--<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css" />-->
    <link rel="stylesheet" href="/static/fonts.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/buttons.css" />
    <link rel="stylesheet" href="/static/navbar.css" />
    <link rel="shortcut icon" href="/static/favicon.png" />
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    {% block topbar %}

  <div id="nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('index') }}" class="brand">a|round</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            {{ render_menuitem('user.signin', 'Sign in') }}
            {{ render_menuitem('user.signup', 'Sign up') }}
            {{ render_menuitem('user.profile', 'My profile', login_required=True) }}
            {{ render_menuitem('user.signout', 'Sign out', login_required=True) }}
          </ul>
          <!--<ul class="nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="features.html">Features</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="pricing_table.html">Pricing Table</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </li>
            <li><a href="elements.html">Elements</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="base_css.html">Base CSS</a></li>
                <li><a href="components.html">Components</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="">Sign Up</a></li>
            <li><a href="">Login</a></li>
          </ul>-->
        </div>
      </div>
    </div>
  </div>
    {% endblock %}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>

    <script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    {% block footer %}{% endblock %}
  </body>
</html>