{% macro render_field(field) %}

  {% if field.type != "BooleanField" %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
  {% else %}
    <label class="checkbox">
      {{ field(**kwargs)|safe }}
      {{ field.label.text }}
    </label>
  {% endif %}

  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}

{% macro render_hfield(field) %}

<div class="control-group">
  {% if field.type != "BooleanField" %}
    <label class="control-label" for="{{ field.name }}">
      {{ field.label.text }}
    </label>
    <div class="controls">
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        <ul class="errors">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% else %}
    <div class="controls">
      <label class="checkbox">
        {{ field(**kwargs)|safe }}
        {{ field.label.text }}
      </label>
      {% if field.errors %}
        <ul class="errors">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
</div>

{% endmacro %}