{% extends "base.html" %}
{% from "_formhelpers.html" import render_hfield %}

{% block title %}
    {{ _('Your profile') }}
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('user.profile') }}" class="form-horizontal" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ _('My profile') }}</legend>
            {{ render_hfield(form.email, placeholder="email@mail.com") }}
            {{ render_hfield(form.firstname, placeholder="John") }}
            {{ render_hfield(form.lastname, placeholder="Smith") }}
            {{ render_hfield(form.birthday, placeholder="jj/mm/aaaa") }}
            {{ render_hfield(form.password, placeholder="**********") }}
            {{ render_hfield(form.avatar, placeholder=_('Your photo')) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {{ _('Submit') }}
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}