{% extends "base.html" %}
{% from "_formhelpers.html" import render_hfield %}

{% block title %}
    {{ _('Sign in') }}
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('user.signin') }}" class="form-horizontal">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ _('Sign in') }}</legend>
            {{ render_hfield(form.email, placeholder="email@mail.com") }}
            {{ render_hfield(form.password, placeholder="**********") }}
            <div class="form-actions">
                <button type="submit" class="btn">
                    {{ _('Submit') }}
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}