{% extends "base.html" %}
{% from "_formhelpers.html" import render_hfield %}

{% block title %}
    {{ _('Sign up') }}
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('user.signup') }}" class="form-horizontal">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ _('Sign up') }}</legend>
            {{ render_hfield(form.email, placeholder="email@mail.com") }}
            {{ render_hfield(form.firstname, placeholder="John") }}
            {{ render_hfield(form.lastname, placeholder="Smith") }}
            {{ render_hfield(form.password, placeholder="**********") }}
            {{ render_hfield(form.confirm, placeholder="**********") }}
            {{ render_hfield(form.accept_tos) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {{ _('Submit') }}
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}