body {
    padding-bottom: 40px;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"],
textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 2px solid #ddd;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.form-actions {
    background: transparent;
}

form fieldset legend {
    color: #888;
    font-style: italic;
    text-align: center;
}