.btn {
  border-color: #acacac !important;
  background: #dddddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dddddd));
  background: -webkit-linear-gradient(top, #efefef, #dddddd);
  background: -moz-linear-gradient(top, #efefef, #dddddd);
  background: -ms-linear-gradient(top, #efefef, #dddddd);
  background: -o-linear-gradient(top, #efefef, #dddddd);
}
.btn:hover {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eeeeee));
  background: -webkit-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -moz-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -ms-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -o-linear-gradient(top, #fcfcfc, #eeeeee);
}
.btn.disabled {
  background-color: #dddddd;
}
.btn[disabled] {
  background-color: #dddddd;
}
.btn.dropdown-toggle {
  background-color: #dddddd !important;
}
.btn-primary {
  border-color: #0d507a !important;
  background: #0c6fb1;
  background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
  background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}
.btn-primary:hover {
  background: #1188d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#1bb6e6), to(#1188d6));
  background: -webkit-linear-gradient(top, #1bb6e6, #1188d6);
  background: -moz-linear-gradient(top, #1bb6e6, #1188d6);
  background: -ms-linear-gradient(top, #1bb6e6, #1188d6);
  background: -o-linear-gradient(top, #1bb6e6, #1188d6);
}
.btn-primary.disabled {
  background-color: #0c6fb1;
}
.btn-primary[disabled] {
  background-color: #0c6fb1;
}
.btn-primary.dropdown-toggle {
  background-color: #0c6fb1 !important;
}
.btn-info {
  border-color: #2681a2 !important;
  background: #2caada;
  background: -webkit-gradient(linear, left top, left bottom, from(#46cae8), to(#2caada));
  background: -webkit-linear-gradient(top, #46cae8, #2caada);
  background: -moz-linear-gradient(top, #46cae8, #2caada);
  background: -ms-linear-gradient(top, #46cae8, #2caada);
  background: -o-linear-gradient(top, #46cae8, #2caada);
}
.btn-info:hover {
  background: #32bcef;
  background: -webkit-gradient(linear, left top, left bottom, from(#50d6f5), to(#32bcef));
  background: -webkit-linear-gradient(top, #50d6f5, #32bcef);
  background: -moz-linear-gradient(top, #50d6f5, #32bcef);
  background: -ms-linear-gradient(top, #50d6f5, #32bcef);
  background: -o-linear-gradient(top, #50d6f5, #32bcef);
}
.btn-info.disabled {
  background-color: #2caada;
}
.btn-info[disabled] {
  background-color: #2caada;
}
.btn-info.dropdown-toggle {
  background-color: #2caada !important;
}
.btn-success {
  border-color: #69963b !important;
  background: #7fc33c;
  background: -webkit-gradient(linear, left top, left bottom, from(#b1d960), to(#7fc33c));
  background: -webkit-linear-gradient(top, #b1d960, #7fc33c);
  background: -moz-linear-gradient(top, #b1d960, #7fc33c);
  background: -ms-linear-gradient(top, #b1d960, #7fc33c);
  background: -o-linear-gradient(top, #b1d960, #7fc33c);
}
.btn-success:hover {
  background: #8dd242;
  background: -webkit-gradient(linear, left top, left bottom, from(#b9e46a), to(#8dd242));
  background: -webkit-linear-gradient(top, #b9e46a, #8dd242);
  background: -moz-linear-gradient(top, #b9e46a, #8dd242);
  background: -ms-linear-gradient(top, #b9e46a, #8dd242);
  background: -o-linear-gradient(top, #b9e46a, #8dd242);
}
.btn-success.disabled {
  background-color: #7fc33c;
}
.btn-success[disabled] {
  background-color: #7fc33c;
}
.btn-success.dropdown-toggle {
  background-color: #7fc33c !important;
}
.btn-warning {
  border-color: #dc9014 !important;
  background: #ffb031;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffce4f), to(#ffb031));
  background: -webkit-linear-gradient(top, #ffce4f, #ffb031);
  background: -moz-linear-gradient(top, #ffce4f, #ffb031);
  background: -ms-linear-gradient(top, #ffce4f, #ffb031);
  background: -o-linear-gradient(top, #ffce4f, #ffb031);
}
.btn-warning:hover {
  background: #ffc531;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdb4f), to(#ffc531));
  background: -webkit-linear-gradient(top, #ffdb4f, #ffc531);
  background: -moz-linear-gradient(top, #ffdb4f, #ffc531);
  background: -ms-linear-gradient(top, #ffdb4f, #ffc531);
  background: -o-linear-gradient(top, #ffdb4f, #ffc531);
}
.btn-warning.disabled {
  background-color: #ffb031;
}
.btn-warning[disabled] {
  background-color: #ffb031;
}
.btn-warning.dropdown-toggle {
  background-color: #ffb031 !important;
}
.btn-danger {
  border-color: #ab4b44 !important;
  background: #e3514a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed8376), to(#e3514a));
  background: -webkit-linear-gradient(top, #ed8376, #e3514a);
  background: -moz-linear-gradient(top, #ed8376, #e3514a);
  background: -ms-linear-gradient(top, #ed8376, #e3514a);
  background: -o-linear-gradient(top, #ed8376, #e3514a);
}
.btn-danger:hover {
  background: #ff5e56;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff988c), to(#ff5e56));
  background: -webkit-linear-gradient(top, #ff988c, #ff5e56);
  background: -moz-linear-gradient(top, #ff988c, #ff5e56);
  background: -ms-linear-gradient(top, #ff988c, #ff5e56);
  background: -o-linear-gradient(top, #ff988c, #ff5e56);
}
.btn-danger.disabled {
  background-color: #e3514a;
}
.btn-danger[disabled] {
  background-color: #e3514a;
}
.btn-danger.dropdown-toggle {
  background-color: #e3514a !important;
}
.btn-inverse {
  border-color: #323232 !important;
  background: #444444;
  background: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#444444));
  background: -webkit-linear-gradient(top, #6c6c6c, #444444);
  background: -moz-linear-gradient(top, #6c6c6c, #444444);
  background: -ms-linear-gradient(top, #6c6c6c, #444444);
  background: -o-linear-gradient(top, #6c6c6c, #444444);
}
.btn-inverse:hover {
  background: #575757;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d8d8d), to(#575757));
  background: -webkit-linear-gradient(top, #8d8d8d, #575757);
  background: -moz-linear-gradient(top, #8d8d8d, #575757);
  background: -ms-linear-gradient(top, #8d8d8d, #575757);
  background: -o-linear-gradient(top, #8d8d8d, #575757);
}
.btn-inverse.disabled {
  background-color: #444444;
}
.btn-inverse[disabled] {
  background-color: #444444;
}
.btn-inverse.dropdown-toggle {
  background-color: #444444 !important;
}
.btn.disabled,
.btn[disabled] {
  background-image: none;
  box-shadow: none;
  cursor: default;
  opacity: 0.65;
}