#nav .navbar-inner {
  background-color: #F6F6F6;
  background-image: none;
  box-shadow: none;
  border-bottom: 4px solid #E6E6E6;
  padding: 4px 0px;
    background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -ms-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#F6F6F6));
  background-image: -webkit-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -o-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: linear-gradient(top, #F6F6F6, #F6F6F6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6', endColorstr='#F6F6F6', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0px 0px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
  box-shadow: 0 0px 0px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
}
#nav .nav li a {
  text-shadow: none;
  color: #bbb;
}
#nav .nav li a:hover {
  color: #333;
}
#nav .nav li.dropdown .dropdown-toggle .caret,
#nav .nav li.dropdown.open .caret {
  border-bottom-color: #555;
  border-top-color: #555;
}
#nav .dropdown-menu a:hover {
  color: white !important;
}
#nav .btn-navbar {
  background-color: #DDD;
  background-image: none;
  box-shadow: none;
}
#nav .brand {
  font-family: "Oleo Script", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#nav .nav .active > a,
#nav .nav .active > a:hover {
  background-color: #f6f6f6 !important;
  color: #888 !important;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.stripe-top {
  border-bottom: 1px solid #EEE;
}
.stripe-color {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.navbar .nav > li > .dropdown-menu:before {

}
.navbar .nav > li > .dropdown-menu:after {

}
.dropdown-menu {
  border: 2px solid #ccc;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #333;
}
.well {
  box-shadow: none;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #333;
}